// *************************************
//
// Button
// -> All buttons
//
// *************************************

.Button {
  display: inline-block;
  font-weight: bold;
  padding: rem(10px) rem(5px);
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Default ----- //

.Button--default {
  color: $c-orange;
  fill: $c-orange;
  background: $c-white;
}

// ----- Brand ----- //

.Button--brand {
  color: $c-white;
  fill: $c-white;
  background: $c-orange;
  transition: background 0.3s ease;
  &:hover,
  &:focus {
    background: lighten( $c-orange, 15% );
  }
}

.Button--transparent {
  color: $c-black;
  fill: $c-black;
  background: rgba(255,255,255,0);
  background: rgba(255,255,255,0.6);
  transition: background 0.3s ease;
  text-align: center;
  &:hover,
  &:focus {
    background: rgba(255,255,255,0.8);
  }
}

.Button--inverted {
	color: $c-white;
	fill: $c-white;
	background: $c-orange;
	transition-duration: .3s;
	&:hover{
	  background: darken($c-orange, 10%);
	}
}

.Button--huge {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 2em;
	text-align: center;
	height: 100%;
	width: 100%;
	display: block;

}

.Button-arrow {
	font-size: 3em;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
