// *************************************
//
// Footer
// -> Default footer module
//
// *************************************

.Footer {
  @extend .u-gridRow;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

.Footer--top {
  background: $c-footergrey;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 10px solid darken($c-orange, 10%);
}

.Footer--bottom {
  background: darken($c-orange, 20%);
  a {
	  color: #222;
  }
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Footer text ----- //

.Footer-heading,
.Footer-text {
  text-transform: uppercase;
  color: $c-white;
  fill: $c-white;
}

.Footer-heading {
  margin-bottom: 0;
}

.Footer-text {
  font-size: 12px;
  font-weight: bold;
  
}
.Footer-adres p {
	font-size: 13px;
}


.Footer h6 {
	font-size: 22px;
	line-height: 35px;
	margin: 20px 0 0 0;
}

// ----- Footer top ----- //

.Footer-logo,
.Footer-adres,
.Footer-contact,
.Footer-sitemap {
  @include span-columns(4);
}

.Footer-adres,
.Footer-contact,
.Footer-sitemap {
  padding-left: 1rem;
}


.Footer {
	select.menu {
		border: 0px;
		border-radius: 5px;
		padding: 0px 5px;
		width: 200px;
	}
}



.Footer--top {
	margin-top: 35px;
}


@media all and (max-width: 730px) {
	.Footer-logo,
	.Footer-adres,
	.Footer-contact,
	.Footer-sitemap {
	  @include span-columns(12);
	  text-align: center;
	  border-bottom: 1px solid #ccc;
	  padding-bottom: 20px;
	}
	
}

@media all and (max-width: 500px) {
	.Footer--bottom {
		.Footer-text {
			font-size: 12px;
		}
	}
}

@media all and (max-width: 400px) {
	.Footer--bottom {
		.Footer-text {
			font-size: 10px;
		}
	}
}