.Home {
}
.Home-title {

}

.Home-business, .Home-non-business {
	background-color: rgba(255,255,255,0.6);
	background-image: url('../img/business.jpg');
	background-size: cover;
	margin: 20px 0px; 
	width: 100%;
	padding: 20px;

}

.Home-non-business {
	background-image: url('../img/particulier.jpg');
	background-position: 0px -60px;
}

.Home-content {
	@include span-columns(8);
	color: $c-black;
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
}
.Home-side { 
	@include span-columns(4);
}

.Home-cert {
	border-top: 3px solid $c-orange;
	border-bottom: 3px solid $c-orange;
	margin-bottom: 20px;
}


.Home-cert-image {
	text-align: center;
	display: block;
}
