// *************************************
//
// Logo
// -> Specific logo container
//
// *************************************

.Logo {
  display: inline-block;
}

// -------------------------------------
// Modifiers
// -------------------------------------

.Logo-headingTop--header {
  color: $c-orange;
}

.Logo-headingTop--footer {
  color: $c-white;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Logo-image {
  max-width: 5rem;
}

.Logo-textLink {
  vertical-align: top;
}

.Logo-textLink,
.Logo-heading,
.Logo-imageLink {
  display: inline-block;
}

// ----- Heading ----- //

.Logo-headingTop,
.Logo-headingBottom {
  display: block;
  line-height: 1;
}

.Logo-headingTop {
  font-size: 4.375rem;
  text-align: center;
}

.Logo-headingBottom {
  color: $c-white;
  font-size: 0.875rem;
}
