// *************************************
//
// Logo
// -> Specific logo container
//
// *************************************

.Logo {
  display: inline-block;
  margin-left: -20px;
}

// -------------------------------------
// Modifiers
// -------------------------------------

.Logo-headingTop--header {
  color: #f4632e;
  transition: .3s;
  &:hover{
	  color: lighten($c-orange, 10%)
  }
}

.Logo-headingTop--footer {
  color: $c-white;
}




// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------
 
// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Logo-image {
  max-width: 5rem; 
}

.Logo-textLink {
  vertical-align: top;
}

.Logo-textLink,
.Logo-heading,
.Logo-imageLink {
  display: inline-block;
}

// ----- Heading ----- //

.Logo-headingTop,
.Logo-headingBottom {
  display: block; 
  line-height: 1;

}

.Logo-headingTop {
  font-size: 4rem;
  text-align: center;
}

.Logo-headingBottom {
  color: $c-white;
  font-size: 0.9rem;
  text-transform: none;
}
