// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: center;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
	border-bottom: 3px solid white;
	padding: 10px 0;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //
.Navigation-listItem {
  display: inline;
  margin: 0 rem(15px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  line-height: 0;
}

// ----- Navigation link ----- //

.Navigation-link {
  @extend .Button;
  @extend .Button--brand;
  text-transform: uppercase;
}

.Logo {
	padding-top: 10px;
}
.Logo, .Logo-imageLink {
	float: left;
	display: block;
	height: 130px;
}

.Logo-image {
	max-width: 80px;
}

.Header {
	.Logo-heading {
		margin-top: 30px;
	}
	.Logo-headingBottom {
		color: #686868;
	}
}

.Header-contact {
	top: 20px;
}
.Button.Button--transparent {
	display: block;
	text-align: right;
	&:hover {
		opacity: 0.8;
	}
}

.Header-navigation {
	box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
}



