// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: center;

}

.top-nav-bg {
  background-color: #515352;	
}


// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
	border-bottom: 3px solid white;
	padding: 10px 0;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //
.Navigation-listItem {
  display: inline;
  margin: 0 rem(15px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  line-height: 0;
}

// ----- Navigation link ----- //

.Navigation-link {
  @extend .Button;
  @extend .Button--brand;
  text-transform: uppercase;
}

.Logo {
	padding-top: 10px;
}

.Logo, .Logo-imageLink {
	float: left;
	display: block;
	height: 130px;
}

.Logo-image {
	max-width: 80px;
}

.Header {
	.Logo-heading {
		margin-top: 35px;
	}
	.Logo-headingBottom {
		color: white;
		opacity: 0.8;
	}
}

.Header-contact {
	top: 20px;
}

.Button.Button--transparent {
	display: block;
	text-align: right;
	color: #686868;

	&:hover {
		opacity: 0.8;
	}
}

.Header {
	.Icon--inline {
		fill: #686868;
	}	
}

.Header-navigation {
	box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
}


// THIS IS FOR THE STICKY NAV
.fixed {
	position: fixed;
	top: 0px;
	z-index: 9999999;
}


.Mob-contact-ico {
	display: none;
}

.Header {
	.Header-contact {
		a {
			background-color: transparent;
			color: white;
			&:hover {
				color: $c-orange;
				opacity: 1;
				
				-webkit-transition:all 0.2s ease;
				-moz-transition:all 0.2s ease;
				-o-transition:all 0.2s ease;
								
				svg {
					fill: $c-orange;
				}
			}
		}
		
		svg {
			fill: white;
		}
	}
}




//======================================================
//          @media queries - Responsiveness
//======================================================


@media all and (max-width: 800px) {
	.Navigation {
		position: relative;
		z-index: 3000;
	}

	ul.Navigation-list {
		position: relative;
		display: block;
		width: 100%;
		margin-top: 55px;
			
		.Navigation-listItem {
			display: block;
			&:first-of-type {
				margin-left: 15px;
			}
			&:last-of-type {
				margin-right: 15px;
			}
			a {
				display: block;
				width: 100%;
				padding: 20px 0;
			}
		}
	}
	
	.Navigation-link.is-active {
		border: 0 solid;
	}
	
	.u-gridCol4, .u-gridCol8 {
		@include span-columns(12);
	}
	
	.bx-wrapper {
		display: none;
	}
	.Calamiteit a {
		color: white;
		text-decoration: underline;
	}
}


@media all and (max-width: 500px) {
	.Logo {
		display: block;
		float: none;
		margin: 0 auto;
		width: 235px;
		padding-right: 20px;



	}
	
	.Header-contact {
		display: none;
	}
	.Mob-contact-ico {
		display: block;
		z-index: 5000;
		
		a { 
			border: 2px solid white;
			position: absolute;
			display: block;
			width: 35px;
			height: 35px;
			border-radius: 7px;
			top: 10px;
			background-color: transparent;
			.Icon--inline {
				fill: white;
			}
		}
		.telsvg {
			left: 10px;				
			.Icon--inline {
				margin: 4px;
			}
		}
		
		.tel2svg {
			left: 55px;				
			.Icon--inline {
				margin: 5px;
			}
		}

		.mailsvg {
			left: 100px;				
			.Icon--inline {
				margin: 6px;
			}
		}
	}
}

.Navigation {
	#js-navCollapseTarget {
		
	}
}