// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "../../lib/scss/normalize/normalize";

// ----- Bourbon ----- //
@import "../../lib/scss/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "../../lib/scss/neat/neat";

// ----- Native wordpress styles ----- //
@import "../../lib/scss/wp/wp";

// ----- Override ----- //
@import "../../lib/scss/libs-override";

// -------------------------------------
// Core
// --------------------------------------

// ----- Helpers ----- //
@import "core/helpers";

// ----- Settings ----- //
@import "core/settings";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/button";

@import "modules/equalheight";

@import "modules/header";

@import "modules/content";

@import "modules/home";

@import "modules/icon";

@import "modules/logo";

@import "modules/navigation";

@import "modules/footer";

@import "modules/widget";
@import "modules/contactwidget";

@import "modules/table";
@import "modules/slider";

// -------------------------------------
// Inbox
// -------------------------------------

// social buttons under the select

.temp {
  fill: white;
  padding-top: 1rem;

  a {
    padding-right: 0.5rem;
  }
}

#map_canvas {
	width: 100%;
	height: 250px;
}

.wp-caption-text {
	font-weight: bold;
}


.ngg-album-compactbox:after, .ngg-album-compactbox:before {
	border-bottom: 0px solid black !important;
}

.ngg-album-compact > p { 
	display: none !important; 
}

.ngg-gallery-thumbnail-box .ngg-gallery-thumbnail {
	//width: 180px !important;
	//overflow: hidden !important;
}

.ngg-gallery-thumbnail-box .ngg-gallery-thumbnail img {
	height: 168px !important;
}
.submenu-klimaat {
	pointer: cursor;
//	color: $c-orange;
}
.submenu-klimaat ul {
	display: none;
}
