// *************************************
//
// Settings
// -> Fonts, Variables
//
// *************************************

// -------------------------------------
// @font-face
// -------------------------------------

// Open Sans (normal, italic, bold, bold/italic)
@include web-fonts(("Open Sans": ("400", "400 italic", "800", "800 italic")));

// -------------------------------------
// Variables
// -------------------------------------

// ----- Colors ----- //

$c-black 		: #1B1C17;
$c-blue  		: #0070AF;
$c-white 		: #EFEFEF;
$c-white 		: white; // temporary
$c-orange		: lighten(#f4752b,9%);
$c-orangedarker : #f4752b;
$c-orangefav	: #F07A0C;

$c-footergrey	: #515352;

//$c-orange: #e15229;
//$c-orange: #f14331;
$c-yellow: #fac921;
$c-red: #ce2431;

// ----- Layout ----- //
$l-whiteSpace: 0.5rem;
$l-insideGutter: 1rem;

// Borders & Box-shadows
$l-border         : 1px solid $c-black;
$l-borderRadius   : 3px;
$l-boxShadow      : 0 1px 2px rgba($c-black, 0.25);

// ----- Text ----- //

$t-fontFamily       : 'Open Sans', $helvetica;
$t-headerFontFamily : 'Open Sans', $helvetica;
$t-fontSize         : 14px;
$t-lineHeight       : 1.5;

// ----- Z-indexes ----- //

$z-headerColorOverlay: 1000;
$z-headerAboveColorOverlay: 2000;
